.container {
  display: flex;
  max-width: 33.375rem;
  padding: 3rem 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.75rem;
  background: #fff;
  flex-wrap: wrap;
  gap: 1.25rem;
    box-shadow: -101px 104px 40px 0 rgba(0, 0, 0, 0),
    -64px 66px 37px 0 rgba(0, 0, 0, 0.01), -36px 37px 31px 0 rgba(0, 0, 0, 0.05),
    -16px 17px 23px 0 rgba(0, 0, 0, 0.09), -4px 4px 13px 0 rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  padding: 0rem 1.25rem;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
}
.logo {
  width: 3.75rem;
  height: 3.75rem;
  aspect-ratio: 1/1;
}
.title {
  font-size: clamp(1.2rem, 2vw, 1.9rem);
  font-weight: 600;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}
.btns,
.rememberMe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkBox {
  width: 0.7rem;
}
.checkLabel {
  margin-left: 0.3rem;
  color: #000;
  font-family: Inter;
  font-size: 0.85rem;
  font-weight: 500;
}
.btn {
  color: #1d4ed8;
  font-size: 0.85rem;
  font-weight: 500;
}
.btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.loginBtn,
.checkStatusBtn {
  color: white;
  background-color: #5d60f4;
  font-weight: 600;
  width: 100%;
  font-family: Inter;
  font-size: clamp(0.85rem, 1.6vw, 1rem);
  font-weight: 500;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.checkStatusBtn {
  background: #cfd7de;
  color: #000;
    margin-bottom: .5rem;
}
.loginBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
