.container {
  display: flex;
  max-width: 33.375rem;
  padding: 3rem 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.75rem;
  background: #fff;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.header {
  display: flex;
  padding: 0rem 1.25rem;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
}
.logo {
  width: 3.75rem;
  height: 3.75rem;
  aspect-ratio: 1/1;
}
.title {
  font-size: clamp(1.2rem, 1.8vw, 1.8rem);
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .62rem;
}

.checkLabel {
  margin-left: 0.5rem;
  color: #000;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
}
.btns {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.62rem;
}
.btn {
  background: #cfd7de;
  color: #000;
  font-family: Inter;
  font-size: clamp(0.75rem, 1.6vw, 1rem);
  font-weight: 500;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn:disabled{
  cursor: not-allowed;
  opacity: .6;
}
.fullLengthBtn,
.loginBtn {
  grid-column-start: 1;
  grid-column-end: 3;
}
.loginBtn {
  color: white;
  background-color: #5d60f4;
  font-weight: 600;
  width: 100%;
}
