.container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /* width: 100%; */
  position: relative;
}

.label,
.input,
.input option,
.required span::after {
  width: 100%;
  font-size: .875rem;
  color: #111827;
  font-family: Inter;
  font-weight: 500;
}

.required span {
  position: relative;
}

.required span::after {
  content: "*";
  color: red;
}

.input {
  padding: 0.5rem;
  border: 1.6px solid #aaaaaa;
  border-radius: 0.52rem;
  outline: none;
  transition: border-color 0.3s;
  background-color: #f9fafb;
}
.input::placeholder {
  color: #a6a6a6;
}

.input:focus {
  border-color: #3c9afe;
}

input[type="file"] {
  padding: 0.52rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.passwordToggle {
  background: transparent;
  position: absolute;
  right: 1rem;
  bottom: .6rem;
  display: flex;
  align-items: center;
}
.errorText {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}

.errorInput {
  border-color: red !important;
}
