.container {
  width: clamp(18.5rem,70vw ,36rem);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #f4f5fb;
}
.titleBox{
  width: 100%;
  border-bottom: 2px solid #78335d;
}
.title {
  color: #002e57;
  font-family: "Annapurna SIL";
  font-size: clamp(2rem, 8vw, 3rem);
  font-weight: 700;
  padding: 0.5rem;
  width: 100%;
}
.card {
  display: flex;
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #fff;
}
.leftCol {
  flex-grow: 1;
  min-width: 6.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
  padding: 1.875rem 0rem;
  background: #002e57;
}
.userdp {
  width: clamp(4rem,13vw,6rem);
  height: clamp(4rem,13vw,6rem);
  border-radius: 50%;
}
.name {
  color: #fff;
  font-family: Roboto;
  font-size: clamp(.7rem, 3vw,1rem);
  font-weight: 600;
}
.rightCol {
  flex-grow: 2;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: clamp(.8rem , 3.8vw , 1.88rem);
}
.box {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}
.innerBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.subBox {
  display: flex;
  flex-direction: column;
}
.heading {
  padding: 0.62rem 0rem;
  width: 100%;
  border-bottom: 1.5px solid #ababab;
  color: #002e57;
  font-family: Roboto;
  font-size: clamp(.75rem, 4vw,1rem);
  font-weight: 600;
}
.subHeading,
.data {
  color: #000;
  font-family: Roboto;
  font-size: clamp(.7rem , 2.5vw ,0.8rem);
  font-weight: 500;
}
.data {
  color: #a6a6a6;
}
