.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  background-color: white;
  border-radius: 0.65rem;
  overflow: hidden;
  width: clamp(20rem, 88vw, 65rem);
  padding: 1.2rem;
  box-shadow:
    0 6.4px 14.4px 0 rgb(0 0 0 / 13%),
    0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
  height: 13rem;
}

.imageSection {
  flex-shrink: 0;
  width: clamp(7rem, 18vw, 10rem);
  height: clamp(7rem, 18vw, 10rem);
  border-radius: 10rem;
  overflow: hidden;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textSection {
  flex-grow: 1;
  max-width: calc(100% - 32%);
  max-height: 100%;
  text-wrap-mode: wrap;
}
.userInfo {
  overflow: hidden;
}

.name {
  margin: 0;
  font-weight: 500;
  font-size: clamp(1rem, 4vw, 1.8rem);
}

.year {
  margin: 0 0 clamp(0.3rem, 1.2vw, 1rem) 0;
  font-size: 0.9rem;
  color: #4d5063;
}

.description {
  font-size: clamp(0.75rem, 3vw, 0.85rem);
  line-height: 1.4;
  color: #000000;
}

.socials {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
}

.icon {
  font-size: 1.4rem;
  cursor: pointer;
}

.OverlayDiv {
  background-color: black;
  color: #ddd;
  border-radius: 0.625rem;
  max-width: 90vw;
  max-height: 80vh;
  overflow: auto;
  padding: 1rem;
}
