.outerdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.swiper {
  width: 100%;
  position: relative;

}

.slides {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  gap: 15px;
}

.avatar {
  width: 100%;
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1.5em;
  margin: 0;
}

.year {
  font-size: 1.1em;
  margin: 0;
}

.desc {
  font-size: 0.95em;
}

.socials a {
  color: #fff;
  margin-left: 10px;
  font-size: 1.2em;
  transition: color 0.2s ease-in-out;
}

.socials a:hover {
  color: #0af;
}

/* styles.css */
/* .slider-container {
} */

/* .custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}

.custom-prev:hover,
.custom-next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
} */
