.container {
  display: flex;
  width: 100vw;
  height: 7.75rem;
  padding: 1rem 7.5rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  width: 25.625rem;
  height: 5.3125rem;
  aspect-ratio: 82/17;
}
.textDiv {
  display: flex;
  height: 5.3125rem;
  padding: 0rem 0.9375rem;
  align-items: center;
  align-content: center;
  gap: 0.625rem;
  flex-wrap: wrap;
  border-left: .1rem solid #a1a1a1;
}
.text {
  color: #a1a1a1;
  font-family: Roboto;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04313rem;
  /* max-width: 9rem; */
}
.btns {
  display: flex;
  align-items: center;
  gap: 1.625rem;
}
.btn {
  width: 7.5rem;
  height: 3.125rem;
  padding: 0.625rem;
  border-radius: 5rem;
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
  cursor: pointer;
}
.registerBtn {
  border: 0.05rem solid #000;
  background: #002e57;
}
.loginBtn {
  background: #a1a1a1;
  color: black;
  border: none;
}
