.container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: .5rem;
  height: 20rem;
}
.heading,
.data,
.error {
  color: #000000;
  font-family: "Roboto";
  font-size: 1.75rem;
  font-weight: 700;
}
.searchBar {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.data {
  color: #a6a6a6;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.verified {
  color: #00a100;
}
.error {
  color: #ff3232;
}
.btn {
  background: #5a6dff;
  color: #ffffff;
  font-family: Inter;
  font-size: clamp(0.75rem, 1.6vw, 1rem);
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
