.footer {
  width: 100%;
  background: #18191b;
  padding-bottom: .6rem;
}

/* ===== TOP SECTION (LOGO + ICON LINKS) ===== */
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(8rem, 15vw, 10rem);
  padding: 0 clamp(1.5rem, 7vw, 7.5rem);
  position: relative;
}

.links::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logoBox {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-left: 0.25rem solid #db3539;
  padding-left: 0.5rem;
}

.logo {
  height: clamp(5.5rem, 9vw, 6.5625rem);
}

/* ===== ADDRESS SECTION ===== */
.address {
  width: 100%;
  padding: clamp(1rem, 3vw, 1.5rem) clamp(1.5rem, 6vw, 7.5rem);
}

.addressText {
  color: #fff;
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-weight: 400;
  max-width: 50rem;
  line-height: 1.6;
}

/* ===== COPYRIGHT ===== */
.copyRightDiv,
.devTeamDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 0.2rem;
}

.copyRightText,
.devTeam {
  color: #fff;
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-weight: 400;
}
.copyRightText span {
  color: gray;
  font-weight: bolder;
}
.devName {
  color: #6aff82;
  cursor: pointer;
  user-select: none;
}
