.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.closeBtn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  color: white;
  padding: 0.4rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeBtn:hover {
  background-color: #303030;
}