.container {
  width: clamp(18rem, 92vw, 60rem);
  background-color: white;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: clamp(1rem, 3vw, 2rem);
}
.topBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.title {
  color: #002e57;
  font-family: "Annapurna SIL";
  font-size: clamp(2rem, 8vw, 3rem);
  font-weight: 700;
  padding: 0.4rem;
  width: 100%;
}
.editBtn {
  width: 3.5rem;
  height: 3rem;
  background-color: #f4f5fb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding-left: 0.5rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.textarea {
  width: 100%;
  font-size: 0.875rem;
  color: #111827;
  background-color: #f9fafb;
  font-family: Inter;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.52rem;
  border: 1.6px solid #aaaaaa;
  outline: none;
  min-height: 10rem;
}
.saveBtn,
.cancelBtn {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.3rem 0.8rem;
  border-radius: 9999px;
  cursor: pointer;
  border: 1.5px solid black;
}

.cancelBtn {
  color: rgb(23, 23, 23);
}
.saveBtn {
  color: white;
  background-color: black;
}

.changePassContainer {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1.2rem;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 24rem;
  gap: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.uploadBtn {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.uploadBtn {
  background: #000000;
  color: white;
}

.uploadBtn:disabled {
  background: #656565;
  cursor: not-allowed;
}
