@import "tailwindcss";


:root {
  font-family: "Roboto", "Poppins";
}
/* ::-webkit-scrollbar {
  display: none;
} */
/* body {
  height: 100vh;
  width: 100vw;
} */
/*  */

body {
  width: 100%;
  max-width: 100vw;     /* Prevent body from stretching wider */
  overflow-x: hidden;   /* Extra safety for horizontal overflow */
}
.Toastify__toast {
  max-width: 90vw; /* Prevent overflow */
  margin: 1rem;
}
button:disabled{
  cursor: not-allowed;
}

