.dataBox {
  background-color: #eaeaea;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.75rem;
}
.dp {
  width: 6rem;
  height: 6rem;
}
.pbox {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}
.singleBox {
  width: 100%;
  display: flex;
  align-items: start;
  gap: .5rem;
  flex-direction: column;
}
.subBox{
  width: 100%;
}
.heading {
  color: #002e57;
  font-size: 1.1rem;
  font-weight: 600;
}

.title {
  color: #a6a6a6;
  font-family: Inter;
  font-size: .8rem;
  font-weight: 500;
  margin-bottom: .5rem;
}
.data {
  color: black;
  font-family: Inter;
  font-size: .875rem;
  font-style: normal;
  font-weight: 500;
  border: 1.6px solid #aaaaaa;
  border-radius: .625rem;
  padding: .4rem;
  /* display: inline; */
  
}
@media (max-width: 512px) {
  .box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}