.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.outlet {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f4f5fb;
  padding: 3rem 1rem;
}
.outlet2 {
  
  flex-grow: 1;
  display: grid;
  grid-template-columns: 250px 1fr;
  /* overflow: auto; */
}


/* .content {
  margin: 1.5rem 1rem 2rem 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
} */